body {
	font-family: Helvetica;
	background: lightgrey;
	text-align: center;
}

h1 {
	margin-bottom: 100px;
}

.col-md-3 {
	float: none;
	margin: 0 auto;
	height: 300px;
	width: 200px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}